<div class="wrapper">
  <aside  *ngFor="let message of messages">
    <div class="notification"

         [ngClass]="{'is-info':     message.style=='info',
                     'is-danger':   message.style=='danger',
                     'is-success':  message.style=='success'}">

      <!--button class="delete" (click)="dismiss(message.$key)"></button-->
      {{message.content}}
    </div>

  </aside>
</div>