<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="starter-template">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>
  <button class="clear" (click)="showSuccess()">Message</button>
<!--app-toastr-message></app-toastr-message-->
<alert type="success">hello</alert>
</div>



